@font-face{
    font-family: roboto;
    src: url(font/Roboto-Regular.ttf);
}

@font-face{
    font-family: roboto-bold;
    src: url(font/Roboto-Bold.ttf);
}

body{
    font-family: roboto;
}

/*** Button အတွက် discoverBtn ဆိုတဲ့ Class လေးကို ယူသုံးလို့ရပါတယ်၊ အတူတူပဲဆိုတော့ 😁 ***/




/* Htet Yin Min Area */
.scrollup {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 42px;
    cursor: pointer;
    /* display: none; */
    z-index: 2;
    background-color: #FF9E00;
    transition-delay: .5s;
}

.tourSection h3{
    font-family: roboto-bold;
}

.tourCard h5{
    font-family: roboto-bold;
}

.discoverBtn, .discoverBtn:visited{
    font-family: roboto-bold;    
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 30px;
    border: 1px solid #FF9E00;
    border-radius: 50px;
    background: #FF9E00;
}

.discoverBtn:hover{
    color: #000;
    transition: .4s;
    background: transparent;
}

.tourBtn, .tourBtn:link, .tourBtn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 14px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    border: none;
    cursor: pointer;
}
  
.tourBtn:hover {
    color: #888;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.tourBtn:active, .tourBtn:focus {
    outline: none;
    transform: translateY(0.2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

.tourBtn-white {
    background-color: #fff;
    color: #888; 
}

.tourCard{
    perspective: 1500px;  /* for 3D effect */
    position: relative;
    height: 460px;
}

.tourCard-side{
    height: 470px;
    transition: all .8s ease;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.tourCard-back-side{
    transform: rotateY(180deg);
}

.tourCard-back-side-col {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730); 
}

.tourCard:hover .tourCard-front-side{
    transform: rotateY(-180deg); 
}
.tourCard:hover .tourCard-back-side{
    transform: rotateY(0); 
}

.tourCard-list{
    list-style: none;
}

.tourCard-list li:not(:last-child) {
    border-bottom: 1px solid #dee;
}

.tourCard-align{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.tourCard-price-box {
    color: #fff;
    margin-bottom: 80px; 

}

.tourCard-price-only {
    text-transform: uppercase;
}

.tourCard-price-value {
    font-size: 50px;
    font-weight: 100;
}

.tourMfix{
    margin: 40px 0 50px 0;
}

@media only screen and (max-width: 768px) {
    .tourCard{
        margin: 30px 0;
        height: auto;
        border-radius: 3px;
        box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
    }
    
    .tourCard-side{
        height: auto;
        position: relative;
        box-shadow: none;
    }
    
    .tourCard-back-side{
        transform: rotateY(0);
    }

    .tourCard:hover .tourCard-front-side{
        transform: rotateY(0);
    }
    .tourCard:hover .tourCard-back-side{
        transform: rotateY(0); 
    }
    
    .tourCard-align{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0);
        padding: 70px 40px 40px 40px;
    }
    
    .tourCard-price-box {
        margin-bottom: 30px; 
    
    }
    
    .tourCard-price-value {
        font-size: 40px;
    }
}

@media only screen and (max-width: 992px) {
    .tourCard{
        margin: 30px 10px;
        height: auto;
        border-radius: 3px;
        box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
    }
    
    .tourCard-side{
        height: auto;
        position: relative;
        box-shadow: none;
    }
    
    .tourCard-back-side{
        transform: rotateY(0);
    }

    .tourCard:hover .tourCard-front-side{
        transform: rotateY(0);
    }
    .tourCard:hover .tourCard-back-side{
        transform: rotateY(0); 
    }

    .tourCard-align{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0);
        padding: 50px 40px 40px 40px;
    }
    
    .tourCard-price-box {
        margin-bottom: 30px; 
    
    }
    
    .tourCard-price-value {
        font-size: 40px;
    }

    .tourMfix{
        margin: 0 0 30px 0;
    }
}


/* Htet Yin Min End */


/*Start Gallery */

.gallery_title{
    font-family: roboto-bold;
    color: black;
}
.parent {
    height: 370px;
    border: none;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .7s;
}

.bg-one{
      background-image: url(images/gallery-usa.jpg);
}
.bg-two{
    background-image: url(images/gallery-switzerland.jpg);
}
.bg-three{
    background-image: url(images/gallery-myanmar.jpg);
}
.bg-four{
    background-image: url(images/gallery-tokyo.jpg);
}
.bg-five{
    background-image: url(images/gallery-london.jpg);
}
.bg-six{
    background-image: url(images/gallery-maldives.jpg);
}

.city_name{
    display: none;
    font-size: 18px;
    color: #ffffff !important;
    font-family: roboto;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover .city_name, .parent:focus .city_name {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(12, 12, 12, 0.75);
}
/* End Gallery */